/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.list_active_user {
	position: absolute;

	width: 30px !important;
}

.active_user {
	width: 30px;
	height: 30px;
}